@import url('../../util/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Merriweather&family=Mukta:wght@300&family=Open+Sans:wght@300&family=Playfair+Display&family=Raleway:wght@200;300;400&family=Roboto:wght@300;500&display=swap');

.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   z-index: 100;
 }

 .modal-child-tutorial {
   position: absolute;
   top: 6%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   display: flex;
   justify-content: center;
   border: 1px solid lightgrey;
   border-radius: 5px;
 }

.modal-tutorial-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  font-family: 'Outfit', serif;
}

.modal-next-btn {
  border: 1px solid lightslategray;
  border-radius: 5px;
  background-color: lightslategray;
  color: white;
  box-shadow: -3px 7px 9px -1px rgb(0 0 0 / 60%);
  cursor: pointer;
  font-family: 'Outfit', serif;
  margin-left: 10px;
}

.modal-child-form {
  position: absolute;
  top: 21%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.explain-form-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  font-family: 'Outfit', serif;
}

.modal-child-index {
  position: absolute;
  top: 29%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.explain-index-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Outfit', serif;
}

.modal-child-answer {
  position: absolute;
  top: 5%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: fit-content;
}

.explain-answer-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Outfit', serif;
}