@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;500&family=Montserrat:wght@100;200;300;400&family=Outfit:wght@100;200;300&family=Roboto:wght@300&display=swap');

.question-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}

.question-form-input-text{
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    padding-left: 15px;
}

.question-form-input-time {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}

